body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-custom-4 {
  margin-top: 4rem;
}

.sidebar {
  background-color: white;
  height: calc(100vh - 1px);
  padding: 15px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-item {
  padding: 12px 20px;
  color: #555;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}
.sidebar-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
.sidebar-item i {
  margin-right: 15px;
  font-size: 1.1rem;
}

.main-content {
  padding: 30px;
}
