.container {
  margin: 0 auto;
  width: 70%;
}

.banner {
  background-color: #f5f5f5;
  font-size: 12px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner img {
  width: 500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-top: 1rem;
}

.navbar .navbar_brand {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar .navbar_brand img {
  width: 250px;
}

.navbar .navbar_brand h4 {
  font-size: 20px;
  color: #837361;
  font-weight: normal;
}

.secure-area {
  font-weight: bold;
  background: url("../assets/images/Padlock.png") no-repeat;
  padding: 0 10px 0 16px;
  float: left;
  color: #666;
}

.hero_section .a-login_header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background: #dc1431;
  width: 100%;
  padding: 0 25px;
}

.hero_section .a-login_header h1 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.login_section .login_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.login_section .login_container .login_form {
  width: 30%;
}

.login_form .input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login_form .input_container label {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: #666;
}
.login_form .input_container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: 0;
}

.login_form .input_container input:focus {
  border: 1px solid black;
}

.login_form .input_container button {
  padding: 0.5rem;
  background: #0077be;
  color: #fff;
  border: 0;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.input_container small a {
  color: #0150e2;
  font-size: 12px;
  text-decoration: none;
}

.stay_connected {
  border-left: 1px solid #ccc;
  height: 275px;
  padding-left: 60px;
}

.stay_connected h1 {
  font-size: 15px;
  color: #544a42;
  font-weight: normal;
}

.stay_connected .inner_connected {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stay_connected .inner_connected div button {
  background-image: linear-gradient(#dc1431, #c41230);
  border: 0;
  width: 100px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
}

.forget_password h1 {
  font-size: 15px;
  color: #544a42;
  font-weight: normal;
}

.forget_password p {
  color: #36C;
  font-size: 12px;
}

.forget_password p:hover {
  text-decoration: underline;
  cursor: pointer;
}


footer .footer_container {
  background: #eee;
  margin-top: 5rem;
  height: 150px;
  width: 100%;
  padding: 0.5rem 2rem;
}

footer .footer_container p {
  font-size: 12px;
  font-weight: 500;
  color: #666;
}

footer .footer_container p:nth-child(2) {
  color: #36C;
}



@media (max-width: 1131px) {
  .container {
    width: 90%;
  }

  .banner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .navbar .navbar_brand img {
    width: 200px;
  }

  .login_section .login_container .login_form {
    width: 50%;
  }

  .stay_connected {
    display: none;
  }
}

@media (max-width: 500px) {
  .login_section .login_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login_section .login_container .login_form {
    width: 100%
  }

 .forget_password {
    width: 100%;
  }


  .forget_password hr {
    width: 100%;
  }

  .banner img {
    width: 300px;
  }


  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar_brand h4 {
    font-size: 12px;
  }
  
  /* .navbar .navbar_brand {
    display: flex;
    align-items: center;
    gap: 3rem;
  } */
  
}
